body {
  font-family: 'brandon-grotesque';
  background: #F4F4F4;
}

#header {
  background-color: #39CA74;
  height: 100px;
}

h1, h2, h3, h4, h5 {
  line-height: 1em;
  font-weight: bold;
}

h4 {
  font-family: "Myriad Pro";
  font-size: 21px;
  font-weight: normal;
}

h1.title {
  font-family: "Myriad Pro";
  font-weight: 900;
  margin: 20px;
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 72px;
  line-height: .5em;
}

h3 {
  font-size: 17px;
  text-transform: uppercase;
}

h2.value {
  color: #39CA74;
}

a:link, a:visited {
 color: #39CA74;
 text-transform: uppercase;
 font-family: "brandon-grotesque";
 font-weight: bold;
 font-size: 17px;
}

a:hover {
  color: #39CA74;
}

.grade {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  width: 100px;
  height: 100px;
  background: #39CA74;
  color: white;
  text-align: center;
  font-family: "brandon-grotesque";
  font-size: 72px;
  font-weight: bold;

  /*outline: 50px white solid;*/
}

.item {
  padding-bottom: 20px;
}

.row {
  padding-bottom: 20px;
}

.morelink {
  float: right;
}

.span {
  font-size: 17px;
}

.floatl {
  float: left;
}

/* USER BAR STUFF */

.userbar {
  background: white;
  margin-bottom: 20px;
}

.user {
  padding-top: 34px;
  padding-bottom: 34px;
}

.userphoto {
  float: left;
  padding-right: 34px;
}

.userwelcome {

}

.good-shape {
  color: #39CA74;
}

.summary {
  float: left;
  padding-top: 34px;
}

/* ACTIVITY STUFF */

.card {
  background: white;
  border: 1px #D4D4D4 solid;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  height: 500px;
  background: white;
}