{% extends 'layout.html' %}

{% block title %}GoodForIt{% endblock %}

{% block head %}
  <link rel="stylesheet" href="stylesheets/main.css">
{% endblock %}

{% block content %}
<div class="user col-md-8">
  <img class="userphoto" src="images/Tong.png">
  <div class="userwelcome">
    <h1>Welcome back, Tong!</h1>
    <h4>It looks like you're in <span class="good-shape">good shape.</span></h4>
  </div>
</div>
<div class="summary">
  <div class="col-md-5 floatl">
    <h3>Summary</h3>
    <h2>B+</h2>
<!--     <div class="floatl">
      <h3>Breakdown</h3>
      <span>Activity</span>
      <span>Reliability</span>
      <span>Responsibility</span>
    </div> -->
  </div>
</div>

{% endblock %}

{% block activity %}
<div class="col-md-12 activity card">
  <div class="titlerow">
    <h1 class="">Activity</h1>
    <span class="grade">B+</span>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-2 item">
      <h3>Transactions<h3>
      <h2 class="value">72</h2>
    </div>

    <div class="col-md-2 item">
      <h3>Cash Outflow<h3>
      <h2 class="value">$1,456</h2>
    </div>
  </div>

  <div class="row">
    <img class="col-md-10" src="images/activity.png">
  </div>

  <hr>

  <div class="morelink col-md-1">
    <a href="#">Details</a>
  </div>
</div>
{% endblock %}

{% block reliability %}
<div class="col-md-12 reliability card">
  <div class="titlerow">
    <h1 class="">Reliability</h1>
    <span class="grade">B</span>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-8 item">
      <h3>Average Debt Period<h3>
      <h2 class="value">2 Days</h2>
    </div>

    <div class="col-md-8 item">
      <h3>Outstanding Debts<h3>
      <h2 class="value">$1,456</h2>
    </div>
  </div>

  <hr>

  <div class="morelink col-md-1">
    <a href="#">Details</a>
  </div>
</div>
{% endblock %}

{% block responsibility %}
<div class="col-md-12 responsibility card">
  <div class="titlerow">
    <h1 class="">Responsibility</h1>
    <span class="grade">A+</span>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-3">
      <h3>Percent of Debt Paid<h3>
      <h2 class="value">98.8%</h2>
    </div>

  </div>

  <hr>

  <div class="morelink col-md-1">
    <a href="#">Details</a>
  </div>
</div>
{% endblock %}

{% block connectedness %}
<div class="col-md-12 connectedness card">
  <div class="titlerow">
    <h1 class="">Connectedness</h1>
    <span class="grade">B+</span>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-2">
      <h3>Partners<h3>
      <h2 class="value">17</h2>
    </div>
  </div>

  <hr>

  <div class="morelink col-md-1">
    <a href="#">Details</a>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="col-md-12 footer">
</div>
{% endblock %}