{% extends 'layout.html' %}

{% block title %}GoodForIt{% endblock %}

{% block head %}
{% endblock %}

{% block header %}
  <header id="header" class="row container-fluid">
    <div class="col-md-8 col-md-offset-1"><h1 class="title">GoodForIt</h1></div>
  </header>
{% endblock %}

{% block content %}
<div class="row responsive-top-margin userbar">
  <div class="foreground">

  <div class="user col-md-8 col-md-offset-1 animated fadeIn">
    {% if user.paypalId %}
      <img class="userphoto" src="images/Tong.png">
    {% elseif user.splitWiseId %}
      <img class="userphoto" src={{user.splitWiseProfile.user.picture.large}}>
    {% elseif user.venmoId %}
      <img class="userphoto" src={{user.venmoProfile.profile_picture_url}}>
    {% elseif user.squareId %}
      <img class="userphoto" src="images/Tong.png">
    {% elseif user.levelUpId %}
      <img class="userphoto" src="images/Tong.png">
    {% else %}
      <img class="userphoto" src="images/Tong.png">
    {% endif %}
    <div class="userwelcome">
      <h1>Welcome back, {{user.splitWiseProfile.user.first_name}}!</h1>
      <h4>It looks like you're in <span class="good-shape">good shape.</span></h4>
      <p class='value'>Last 30 Days</p>
    </div>
  </div>

  <div class="summary">
    <div class="col-md-5 floatl">
      <h3>Summary</h3>
      <h2>B+</h2>
    </div>
  </div>
  </div>
</div>

<div class="row responsive-top-margin accountbar">
  <div class="foreground">
  <div class="col-md-4 col-md-offset-1 animated bounce">
  <h1>Get more out of your account</h1>
  <p>Authorize more platforms to build your
reputation or use your score to get credit.</p>
  </div>

  <div class="col-md-6">
    <h1></h1>
    {% if !user.paypalId %}
      <a href="#" class="button">Add Paypal</a>
    {% endif %}
    {% if !user.venmoId %}
      <a href="/auth/venmo" class="button">Add Venmo</a>
    {% endif %}
    {% if !user.splitWiseId %}
      <a href="/auth/splitwise" class="button">Add splitWise</a>
    {% endif %}
    {% if !user.squareId %}
      <a href="#" class="button">Add Square</a>
    {% endif %}
    {% if !user.levelUpId %}
      <a href="#" class="button">Add LevelUp</a>
    {% endif %}
  </div>

  </div>
</div>

<div class="row responsive-top-margin">
  <div class="col-md-10 col-md-offset-1 foreground">
    <div class="col-md-12 activity card animated fadeInUp">
      <div class="titlerow">
        <h1 class="">Activity</h1>
        <span class="grade">B+</span>
      </div>

      <hr class="col-md-10">

      <div class="row">
        <div class="col-md-2 item">
          <h3>Transactions<h3>
          <h2 class="value">{{user.venmoHistory.length + user.splitWiseHistory.length}}</h2>
        </div>

        <div class="col-md-2 item">
          <h3>Cash Outflow<h3>
          <h2 class="value">${{user.cashFlow}}</h2>
        </div>
      </div>

      <div id="chart1" class="row">
        <svg style="height: 500px;"></svg>
      </div>

      <hr>

      <div class="morelink col-md-1">
        <a href="#">Details</a>
      </div>
    </div>
  </div>
</div>

<div class="row responsive-top-margin">
  <div class="col-md-10 col-md-offset-1 foreground">
    <div class="col-md-12 reliability card animated fadeInUp">
  <div class="titlerow">
    <h1 class="">Reliability</h1>
    <span class="grade">B</span>
  </div>

  <hr class="col-md-10">

  <div class="row">
    <div class="col-md-5 item">
      <h3>Average Debt Period</h3>
      <h2 class="value">2 Days</h2>
    </div>

    <div class="row">
      <img class="col-md-6 push" src="images/transactions.png">
    </div>

    <div class="col-md-5 item">
      <h3>Outstanding Debts</h3>
      <h2 class="value">$34.45</h2>
    </div>

  </div>

  <hr>

  <div class="morelink col-md-1">
    <a href="#">Details</a>
  </div>
    </div>
  </div>
</div>

<div class="row responsive-top-margin">
  <div class="col-md-10 col-md-offset-1 foreground">
    <div class="col-md-12 responsibility card animated fadeInUp">
      <div class="titlerow">
        <h1 class="">Responsibility</h1>
        <span class="grade">A+</span>
      </div>

      <hr class="col-md-10">

      <div class="row">
        <div class="col-md-3">
          <h3>Percent of Debt Paid<h3>
          <h2 class="value">98.8%</h2>
        </div>

        <div class="col-md-4 item">
          <img class="push" src="images/responsible_graph.png">
        </div>

      </div>

      <hr>

      <div class="morelink col-md-1">
        <a href="#">Details</a>
      </div>
    </div>
  </div>
</div>

<div class="row responsive-top-margin">
  <div class="col-md-10 col-md-offset-1 foreground">
    <div class="col-md-12 connectedness card animated fadeInUp">
      <div class="titlerow">
        <h1 class="">Connectedness</h1>
        <span class="grade">C</span>
      </div>

  <hr class="col-md-10">

  <div class="row">
    <div class="col-md-2">
      <h3>Partners</h3>
      <h2 class="value">17</h2>
    </div>

  <div class="col-md-4 item">
    <img class="push" src="images/connections.png">
  </div>

    </div>

  <hr>

  <div class="morelink col-md-1">
    <a href="#">Details</a>
  </div>
</div>
  </div>
</div>



{% endblock %}

{% block footer %}
<div class="col-md-12 footer">
</div>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/nv.d3.min.js"></script>
  <script type="text/javascript">

  // x axis should be month
  // y axis should be amount

  // for splitwise date, cost
  // for venmo date_created, amount

  // the formatting should be an array of the number of streams
  // each stream is an object that has property key of the stream, and value which is an array of all the values
  // each element of the value data has an x and y property
  </script>
  <script type="text/javascript">
  var user = {{user|json_encode|raw}}

  var transactionHistory = [formatSplitWiseHistory(user), formatVenmoHistory(user)];
  console.log('transactions', transactionHistory);
  function formatSplitWiseHistory (user){
    var data = { key: 'Splitwise', values: [] };
    user.splitWiseHistory.forEach(function(element){
        data.values.push({
          x: new Date(element.date).getDate(),
          y: element.cost
        });
    });
    return data;
  };

  function formatVenmoHistory (user){
    var data = { key: 'Venmo', values: [] };
    user.venmoHistory.forEach(function(element){
      data.values.push({
        x: (new Date(element.date_created).getDate()),
        y: element.amount
      });
    });
    return data;
  };
  nv.addGraph(function() {
    var chart = nv.models.multiBarChart()
      .transitionDuration(350)
      .rotateLabels(0)      //Angle to rotate x-axis labels.
      .showControls(true)   //Allow user to switch between 'Grouped' and 'Stacked' mode.
      .groupSpacing(0.1)    //Distance between each group of bars.
    ;

    chart.xAxis
        .tickFormat(d3.format(',f'));

    chart.yAxis
        .tickFormat(d3.format(',.1f'));

    d3.select('#chart1 svg')
        .datum(transactionHistory)
        .call(chart);

    nv.utils.windowResize(chart.update);
    console.log(exampleData());
    console.log('stream lyaers', stream_layers(3,10+Math.random()*100,.1))
    return chart;
});

//Generate some nice data.
function exampleData() {
  return stream_layers(3,10+Math.random()*100,.1).map(function(data, i) {
    return {
      key: 'Stream #' + i,
      values: data
    };
  });
}

function stream_layers(n, m, o) {
  if (arguments.length < 3) o = 0;
  function bump(a) {
    var x = 1 / (.1 + Math.random()),
        y = 2 * Math.random() - .5,
        z = 10 / (.1 + Math.random());
    for (var i = 0; i < m; i++) {
      var w = (i / m - y) * z;
      a[i] += x * Math.exp(-w * w);
    }
  }
  return d3.range(n).map(function() {
      var a = [], i;
      for (i = 0; i < m; i++) a[i] = o + o * Math.random();
      for (i = 0; i < 5; i++) bump(a);
      return a.map(stream_index);
    });
}
function stream_index(d, i) {
  return {x: i, y: Math.max(0, d)};
}
</script>
{% endblock %}