{% extends 'layout.html' %}

{% block title %}GoodForIt{% endblock %}

{% block head %}
  <link rel="stylesheet" href="stylesheets/index.css">
{% endblock %}

{% block header %}
  <header id="header-home" class="container-fluid animated fadeIn">
    <div class="col-md-8 col-md-offset-1"><h1 class="title">GoodForIt</h1></div>
    <div class="callout col-md-12 animated fadeInUp">
      <h2 id="goodforX" style="display: inline-block;"></h2>
      <h2 style="display: inline-block;">&nbsp;Is Good For It</h2>
      <p>Measure your creditworthiness through your favorite payment applications.</p>

    </div>
  </header>
{% endblock %}

{% block content %}
    <div class="signupbar animated fadeIn">
    <span class="cta">Get your report for free.</span>
    <a href="/auth/venmo" class="button">Sign Up with Venmo</a>
    <a href="/auth/splitwise" class="button">Sign Up with Splitwise</a>
    </div>

<div class="responsive-top-margin">
  <div class="col-md-10 col-md-offset-1 foreground">
    <div class="col-md-12 activity card row">
      <div class="titlerow">
        <h1 class="">What is GoodForIt?</h1>
      </div>

      <hr class="col-md-8">

      <div class="row">
        <div class="col-md-8 item">
          <p>GoodForIt determines a consumer's credit risk through their usage history of payment and lending applications like Venmo, Paypal, and Splitwise. Our risk model parses the user's transactional history to determine how users respond to debt.</p>

          <p></p>

        </div>
        <div class="col-md-4">
          <ul class="logos">
            <li><img src="images/logos/venmo.png"></li>
            <li><img src="images/logos/split.png"></li>
            <li><img src="images/logos/paypal.png"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 row">
      <h3 class="banks">Our Financial Services Partners</h3>
      <ul class="logos">
          <li><img src="images/logos/chase.png"></li>
          <li><img src="images/logos/pnc.png"></li>
          <li><img src="images/logos/bankofamerica.png"></li>
          <li><img src="images/logos/citi.png"></li>
      </ul>
    </div>
  </div>
</div>

<div class="responsive-top-margin">
  <div class="col-md-10 col-md-offset-1 foreground">
    <div class="col-md-12 activity card row">
      <div class="titlerow">
        <h1 class="">Security</h1>
      </div>

      <hr class='col-md-8'>

      <div class="row">
        <div class="col-md-8 item">
          <p>Our system will only receive access to the history your financial transactions, not to the financial credentials to make transactions on your behalf.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="col-md-12 footer">
</div>
<script type="text/javascript">
  var goodforWhat = ['Chimamanda', 'Abe', 'Gabriéla', 'Ho', 'Sneha', 'Phil', 'Ahmed', 'Phyllis', 'Aaron', 'Noah', 'Sol', 'Eric', 'Yin-Tao', 'David', 'Sarah']
  var sentinel = 0;
  $('#goodforX').text(goodforWhat[sentinel%7]);
  sentinel++
  setInterval(
    function(){
      $('#goodforX').addClass('animated fadeIn');
      $('#goodforX').text(goodforWhat[sentinel%7]);
      sentinel++
    }, 2500);
</script>
{% endblock %}