<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GoodForIt{% endblock %}</title>
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link re="stylesheet" href="webfonts/brandon-webfont-references.css">
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/nv.d3.css">
  <script src="//use.typekit.net/atz3hax.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  {% block head %}

  {% endblock %}
</head>

<body>
  {% block header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js"></script>
  {% block footer %}{% endblock %}
</body>
</html>